nav{
    display: none;
}
#marmotte{
    width: 20%;
    display: inline-block;
}
h1{
    text-align:center;
    size: 2em;
    margin: 15px;
}
main{
    width: auto;
}
header{
    width:auto;
    background-size:200%;
    display:flex;
}
section{
    width: auto;
    display:flex;
    flex-direction: column;
    align-items:center;
}
article{
    margin:0px;
    width: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}
footer{
    display:flex;
    flex-direction:column;
    width:auto;
    height:auto;
    background-position:center;
}
form{
    width: auto;
}
td{
    padding:0;
    text-align:center;
    font-size: 0.5em;
}
